@font-face {
    font-family: "Kalameh";
    src: url("../assets/fonts/Kalameh-thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Kalameh";
    src: url("../assets/fonts/Kalameh-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Kalameh";
    src: url("../assets/fonts/Kalameh-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Kalameh";
    src: url("../assets/fonts/Kalameh-Black.ttf") format("truetype");
    font-weight: 900;
}

$font-family-base: "Kalameh", sans-serif;
$body-bg: #f5f4fb;


$primary: #000137;

@import "../../node_modules/bootstrap/scss/bootstrap";