.login-signup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-signup-popup {
    background-color: #370000;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    cursor: auto;
}

.close-button {
    float: right;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fbf4f4;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    padding: 0.5rem;
    border: 1px solid #0f0100;
    border-radius: 4px;
}

button {
    padding: 0.5rem;
    background-color: #0f0100;
    color: #fbf4f4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.8rem;
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .login-signup-popup {
        width: 90%;
    }
}

.modal_footer {
    padding-top: 0.5rem;
}
